.section1 {
  margin-top: 118px;
}
.section1 .text1 {
  font-weight: : 400;
  font-family: sans-serif;
  font-size: 18px ;
  line-height: 26px ;
  margin-top: 110px;
}
.section1 .text1 .text1-1 {
  font-size: 16px;
  line-height: 25px;
}
.section1 .text1 .text1-2 {
  font-size: 42px;
  line-height: 50px;
}
.section1 .text1 .google-play-badge {
  width: 160px;
  height: 60px;
}
.section1 .webimg1 {
  width: 600px;
  height: 546px;
}
.section3 .text3 {
  font-weight: : 400;
  font-family: sans-serif;
  font-size: 18px ;
  line-height: 26px ;
  margin-top: 55px;
}
.section3 .text3-head {
  margin-bottom: 20px;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 36px;
  line-height: 43.2px;
}
.section4 {
  font-weight: : 400;
  font-family: sans-serif;
  font-size: 18px ;
  line-height: 26px ;
  margin-top: 200px;
}
.section5 {
  margin-top: 100px;
}
.section5 .links1 {
  margin-top: 70px ;
  margin-bottom: 70px;
}
.section6 {
  margin-top: 80px;
}
.section6 .text6 {
  margin-top: 200px;
}
.section6 .text6 .text6-head {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 36px;
  line-height: 43.2px;
}
.section6 .text6 .text6-main {
  font-weight: : 400;
  font-family: sans-serif;
  font-size: 18px ;
  line-height: 26px ;
}
.section7 {
  margin-top: ;
}
